@{
    Layout = null;
    ViewData["Title"] = Html.Raw($"ประเด็นการตวจสอบและจุดประสงค์");
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">
                <h2 class="card-title mt-1">เพิ่ม-ลบ ประเด็นการตวจสอบและจุดประสงค์</h2>
            </div>
            <div class="card-body">
                <div class="col-md-12 mb-3">
                    <button type="button" class="btn btn-primary" onclick="OpenModalAuditIssueMain()">
                        <i class="fas fa-plus"></i> เพิ่มข้อมูล
                    </button>
                </div>
                <div class="col-md-12 mb-5">
                    <div id="ContentAuditIssueMain" class="container-fluid"></div>
                </div>
                <div class="col-md-12 table-responsive">
                    <table id="AuditIssueMainTable" class="table table-bordered table-striped w-100 table-hover"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
       $('#AuditIssueMainTable').DataTable({
            serverSide: false,
            bDestroy: true,
            pageLength: 10,
            searching: true,
            info: true,
            filter: true,
            lengthMenu: [10, 20, 50, 100, 200, 500, 1000],
            language: {
                processing: "กำลังประมวลผล...",
                loadingRecords: "Loading...",
                lengthMenu: "แสดง _MENU_ รายการ",
                search: "ค้นหา :",
                zeroRecords: "<font color='red'><center>ไม่พบข้อมูลที่คุณต้องการ ค้นหา</center></font>",
                info: "แสดง _START_ ถึง _END_ จากทั้งหมด _TOTAL_ รายการ",
                infoEmpty: "แสดง 0 ถึง 0 จากทั้งหมด 0 รายการ",
                infoFiltered: "(ค้นหา จากทั้งหมด _MAX_ รายการ)",
                paginate: {
                    first: "หน้าแรก",
                    last: "หน้าสุดท้าย",
                    next: "ถัดไป",
                    previous: "ก่อนหน้า",
                },
            },
            ajax: {
                url: '@Url.Action("GetAuditIssueMain", "AuditIssueMain")',
                type: 'GET',
            },
            columns: [
                {
                    data: null, title: "#", "autoWidth": true, width: "50px",
                    render: function (data, type, row, meta) {
                        return meta.row + 1;
                    }
                },
                {
                    data: 'auditIssueMainName', name: "auditIssueMainName", title: "ประเด็นการตรวจสอบ", "autoWidth": true,
                },
                {
                    data: 'auditIssueMainId', name: "auditIssueMainId", title: "Action", orderable: false, width: "200px",
                    render: function (d) {
                        return `
                            <div class="text-center">
                                <button class="btn btn-sm btn-info" onclick="OpenModalAuditIssueMain(${d})">
                                    <i class="fas fa-edit"></i> แก้ไข
                                </button>
                                    <button class="btn btn-sm btn-danger" onclick="DeleteAuditIssueMain(${d})">
                                    <i class="fas fa-trash"></i> ลบ
                                </button>
                            </div>
                        `;
                    }
                }
            ],
             order: [[0, 'asc']]
        });
    })

    function OpenModalAuditIssueMain(AuditIssueMainID = 0) {
         $('#ContentAuditIssueMain').html('')
         $.ajax({
             url: '@Url.Action("GetAuditIssueMainForm", "AuditIssueMain")?AuditIssueMainID=' + AuditIssueMainID,
             type: 'GET',
             dataType: 'html',
             success: function (res) {
                 $('#ContentAuditIssueMain').html(res)
                 $('#ModalAuditIssueMain').modal('show')
             }
         })
     }

    function DeleteAuditIssueMain(AuditIssueMainID = 0) {
        if(AuditIssueMainID == '' || AuditIssueMainID <= '0') {
            Swal.fire({ icon: 'warning', title: 'แจ้งเตือน', text: 'ไม่พบข้อมูลที่ต้องการลบ' })
            return
        }

        Swal.fire({
            title: 'คุณแน่ใจไหม?',
            text: "คุณจะลบข้อมูล!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#28a745',
            cancelButtonColor: '#d33',
            confirmButtonText: "ตกลง",
            cancelButtonText: "ยกเลิก",
        }).then((result) => {
            if (!result.isConfirmed) return;
            $.ajax({
                url: '@Url.Action("DeleteAuditIssueMain", "AuditIssueMain")',
                type: 'POST',
                data: {  AuditIssueMainID: AuditIssueMainID },
                dataType: 'json',
                success: function (res) {
                    if (!res.status) {
                        Swal.fire({ icon: 'error', title: 'เกิดข้อผิดพลาด', text: res.message })
                        return
                    }
                    Swal.fire({  icon: 'success', title: 'สำเร็จ', text: res.message })
                    LoadDataTable('AuditIssueMainTable')
                }
            })
        })
    }

</script>